/*BUTTONS STYLE*/
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #969ba2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #e7f5ff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #5a5a5a;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #cbf6ff;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #7b91b2;
    -fx-text-fill: #bbe7f8;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    /*-fx-border-style: solid, segments(1, 1);*/
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #e7f5ff;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #7ba1ff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

/*
 *
 *TABLE VIEWS STYLE
 *
 */

.table-view {
    -fx-base: #e7f5ff;
    -fx-control-inner-background: #e7f5ff;
    -fx-background-color: #e7f5ff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.text-field {
    -fx-font-size: 12pt;
}
.table-view .column-header{
    -fx-font-size: 14;
}

.table-cell {
    -fx-font-size: 12px;
}